:host {
  display: block;
  width: 100%;
  height: 100%;
}

#banner {
  padding: 32px;
  width: 100%;
  height: 100%;
}

.correct {
  background-color: green;
  color: white;
}

.incorrect {
  background-color: red;
  color: white;
}

#continue-btn-hldr,
#result-hldr {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#result-hldr {
  align-items: flex-start;
  justify-content: center;
}

#continue-btn-hldr {
  align-items: flex-end;
  justify-content: center;
}
