:host {
  display: block;
  width: 100%;
  height: 100%;
}

#banner {
  padding: 32px;
  width: 100%;
  height: 100%;
}

.correct {
  background-color: green;
  color: white;
}

.incorrect {
  background-color: red;
  color: white;
}

#continue-btn-hldr,
#result-hldr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
