<div id="player">
  <app-morse-player
    [text]="answer"
    [disabled]="isDone"
    class="container"
  ></app-morse-player>
</div>

<div id="text-entry">
  <app-morse-text-entry
    [disabled]="isDone"
    (textEntered)="enteredValue = $event"
    class="container"
  ></app-morse-text-entry>
</div>

<div id="submit-buttons">
  <div class="container" *ngIf="!isDone">
    <button
      type="button"
      class="btn btn-secondary float-left"
      (click)="skip()"
      [class.disabled]="isDone"
    >
      Skip
    </button>

    <button
      type="button"
      class="btn btn-primary float-right"
      (click)="checkAnswer()"
      [class.disabled]="isDone"
    >
      Check
    </button>
  </div>
  <app-morse-check-banner
    [isCorrect]="isCorrect"
    [correctAnswer]="answer"
    (next)="next()"
    *ngIf="isDone"
  ></app-morse-check-banner>
</div>
