<div id="player" class="container">
  <app-morse-player
    [text]="answer"
    [disabled]="isDone"
    class="float-left"
  ></app-morse-player>
  <a [routerLink]="['']" class="btn float-right"
    ><h3><i class="fas fa-times"></i></h3
  ></a>
</div>

<div id="text-entry">
  <app-morse-text-entry
    [disabled]="isDone"
    (textEntered)="enteredValue = $event"
    class="container"
  ></app-morse-text-entry>
</div>

<div id="submit-buttons" [class.border-top]="!isDone">
  <div class="col-md-6 container" *ngIf="!isDone">
    <button
      type="button"
      class="btn btn-lg float-left"
      (click)="skip()"
      [class.disabled]="isDone"
    >
      Skip
    </button>

    <button
      type="button"
      class="btn btn-success btn-lg float-right"
      [class.disabled]="
        enteredValue == null || enteredValue.trim().length === 0
      "
      (click)="checkAnswer()"
      [class.disabled]="isDone"
    >
      Check
    </button>
  </div>
  <app-morse-check-banner
    [isCorrect]="isCorrect"
    [correctAnswer]="answer"
    (next)="next()"
    *ngIf="isDone"
  ></app-morse-check-banner>
</div>
