<h3>Type the word(s) you hear</h3>
<!-- <mat-form-field class="w-100"> -->
<!-- <input
  class="w-100"
  matInput
  placeholder="Ex. SOS"
  (keyup)="onTextChange($event.target.value)"
  [(value)]="enteredText"
  [disabled]="disabled" -->
<!-- /> -->
<!-- </mat-form-field> -->
<div class="input-group">
  <input
    type="text"
    class="form-control"
    placeholder="Ex. SOS"
    aria-label="Translation Entry"
    (keyup)="onTextChange($event.target.value)"
    [(value)]="enteredText"
    [disabled]="disabled"
  />
</div>
