/* You can add global styles to this file, and also import other style files */

$color-primary: #ff564f;
$color-primary-dark: #b32a25;
$color-primary-light: #ff6e69;
$color-secondary: white;
$color-accent: #00b200;
$color-accent-light: #4fff8c;

$body-bg: #121212;
$body-color: $color-secondary;

$theme-colors: (
  "primary": $color-accent,
  "success": $color-accent,
  "danger": $color-primary-dark,
);

@import "../node_modules/bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  --primary: $color-primary;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.d-flex {
  display: flex;
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.no-decoration {
  text-decoration: none !important;
}
